streamlit
requests
beautifulsoup4
fpdf
Pillow
pyttsx3; platform_system == "Windows"
speechrecognition; platform_system == "Windows"
pyaudio; platform_system == "Windows"
stability-sdk
google-generativeai
