streamlit
google-generativeai
requests
beautifulsoup4
fpdf
pyttsx3
SpeechRecognition
pandas
Pillow
stability-sdk
openpyxl
pyttsx3 ; platform_system != "Linux"
SpeechRecognition ; platform_system != "Linux"
pyaudio ; platform_system == "Windows"
pyaudio

